<h1 style="text-align: center;">Company Registration Steps:</h1>
<mat-vertical-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="userForm.userForm">
        <ng-template matStepLabel>User Info</ng-template>
        <app-user-info #userForm></app-user-info>
    </mat-step>
    <mat-step [stepControl]="companyForm.companyForm">
        <ng-template matStepLabel>Company Info</ng-template>
        <app-company-info #companyForm></app-company-info>
    </mat-step>
    <mat-step [stepControl]="sharedHoursForm.timeBlocks">
        <ng-template matStepLabel>Working Hours</ng-template>
        <app-working-hours-shared #sharedHoursForm></app-working-hours-shared>
        <div>
            <button mat-flat-button matStepperPrevious>BACK</button>
            <button mat-flat-button matStepperNext color="accent">NEXT</button>
        </div>
    </mat-step>
    <mat-step [stepControl]="sharedLinksForm.socialsBlocks">
        <ng-template matStepLabel>Social Links</ng-template>
        <app-social-links-shared #sharedLinksForm></app-social-links-shared>
        <div>
            <button mat-flat-button matStepperPrevious>BACK</button>
            <button mat-flat-button matStepperNext color="accent">NEXT</button>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Company Media</ng-template>
        <div 
            fxFlexFill 
            fxLayout="row wrap" 
            fxLayout.lt-md="column"
            fxLayoutGap="20px"
            fxLayoutAlign="space-around center"
            class="media-inputs-holder"
        >
            <app-media-upload-form-shared [squareAspect]="true" header="Company/Owner Image"></app-media-upload-form-shared>
            <app-media-upload-form-shared header="Company logo Image"></app-media-upload-form-shared>
        </div>
        <div>
            <button mat-flat-button matStepperPrevious>BACK</button>
            <button mat-flat-button matStepperNext color="accent">NEXT</button>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Success</ng-template>
        <p>You are now done.</p>
        <div>
            <a routerLink="/login"> Go To Login </a>
        </div>
    </mat-step>
</mat-vertical-stepper>