<h1 style="text-align: center;">Company Registration Steps:</h1>
<mat-vertical-stepper [linear]="false" #stepper>
    <mat-step [stepControl]="userForm.userForm">
        <ng-template matStepLabel>User Info</ng-template>
        <app-user-info #userForm></app-user-info>
    </mat-step>
    <mat-step [stepControl]="companyForm.companyForm">
        <ng-template matStepLabel>Company Info</ng-template>
        <app-company-info #companyForm></app-company-info>
    </mat-step>
    <mat-step [stepControl]="sharedForm.timeBlocks">
        <ng-template matStepLabel>Working Hours</ng-template>
        <app-working-hours-shared #sharedForm></app-working-hours-shared>
        <div>
            <button mat-flat-button matStepperPrevious>BACK</button>
            <button mat-flat-button matStepperNext color="accent">NEXT</button>
        </div>
    </mat-step>
    <!--<mat-step [stepControl]="secondFormGroup">
        <social-links></social-links>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <media></media>
    </mat-step>-->
    <mat-step>
        <ng-template matStepLabel>Success</ng-template>
        <p>You are now done.</p>
        <div>
            <a routerLink="/login"> Go To Login </a>
        </div>
    </mat-step>
</mat-vertical-stepper>