
.menu-layout-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.menu-layout-is-mobile {
    .menu-layout-toolbar {
        position: fixed;
        /* Make sure the toolbar will stay on top of the content as it scrolls past. */
        z-index: 2;
    }
}

h1 {
    .menu-layout-app-name {
        margin-left: 8px;
    }
}
.menu-layout-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
        causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
}

.menu-layout-is-mobile {
    .menu-layout-sidenav-container {
        /* When the sidenav is fixed, dont constrain the height of the sidenav container. This allows the
            `<body>` to be our scrolling element for mobile layouts. */
        flex: 1 0 auto;
    }
}

.mat-expansion-panel{
    border-radius: 0px!important;
    box-shadow: none!important;
    border-bottom: 1px solid #eae9e9;
}

.mat-expansion-panel-body {
    padding-left: 0!important;
    padding-right: 0!important;
}

.mat-drawer-inner-container {
    min-width: 300px;
}

.mat-expansion-panel-header-description{
    margin: 0!important;
}

.mat-list-base{
    width: 100%;
    padding: 0!important;
}

// How to create dynamic theme
// https://medium.com/angular-in-depth/build-truly-dynamic-theme-with-css-variables-539516e95837

// Dynamic angular theming Stackbliz
// https://stackblitz.com/edit/angular-3ph3on