<div 
    class="back-test"
    fxLayout="column wrap"
    fxLayoutGap="10px"
    fxLayoutAlign="start start"
>
    <mat-card *ngFor="let timeBlock of timeBlocks.controls; index as i"
        fxFlexFill 
        fxLayout="row wrap" 
        fxLayout.lt-md="column"
        fxLayoutGap="20px"
        fxLayoutAlign="space-around center"
    >
        <ng-container [formGroup]="timeBlock">

            <div>
                <mat-button-toggle-group  [multiple]="true" formControlName="weekdays" name="weekdays" aria-label="Week days">
                    <mat-button-toggle *ngFor="let day of weekDays" [value]="day.value">{{day.name}}</mat-button-toggle>
                </mat-button-toggle-group>
                <div *ngIf="timeBlock.get('weekdays').invalid && (timeBlock.get('weekdays').dirty || timeBlock.get('weekdays').touched)" class="alert alert-danger">
                    <div *ngIf="timeBlock.get('weekdays').errors.required">
                        At least one day of the week need to be chosen.
                    </div>
                </div>
            </div>

            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" fxFlexAlign="flex-start flex-start" fxFlexAlign.lt-md="stretch">
                <mat-form-field appearance="outline" fxFlex="1 1">
                    <mat-label>From time</mat-label>
                    <input matInput type="time" formControlName="from">
                    <div *ngIf="timeBlock.get('from').invalid && (timeBlock.get('from').dirty || timeBlock.get('from').touched)" class="alert alert-danger">
                        <div *ngIf="timeBlock.get('from').errors.required">
                            From time is required.
                        </div>
                    </div>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="1 1">
                    <mat-label>To time</mat-label>
                    <input matInput type="time" formControlName="to">
                    <div *ngIf="timeBlock.get('to').invalid && (timeBlock.get('to').dirty || timeBlock.get('to').touched)" class="alert alert-danger">
                        <div *ngIf="timeBlock.get('to').errors.required">
                            To time is required.
                        </div>
                    </div>
                </mat-form-field>
                <div *ngIf="timeBlock.get('from').touched && timeBlock.get('to').touched" class="alert alert-danger inside-form-top-center-warning">
                    <div *ngIf="timeBlock.hasError('dateRangeError')">
                        From time should be lesser than To time.
                    </div>
                </div>
            </div>

        </ng-container>
        <button mat-flat-button matStepperNext color="warn" (click)="removeWorkingHours(i)">REMOVE HOURS</button>
    </mat-card>
    <button class="add-working-time-button" mat-flat-button matStepperNext color="accent" (click)="addWorkingHours()">ADD COMPANY WORKING HOURS</button>
</div>
