.mat-form-field-wrapper{
    padding-bottom: 0!important;
}
.add-working-time-button{
    margin-bottom: 15px!important;
}
.inside-form-top-center-warning{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}