<mat-card>
    <mat-card-header>
        <mat-card-title>Company Information</mat-card-title>
    </mat-card-header>
    <mat-card-content
        fxLayout="row wrap"
        fxLayoutGap="1%"
    >

        <div 
            fxFlexFill 
            fxLayout="row wrap" 
            fxLayout.lt-md="column"
            fxLayoutGap="20px"
            fxLayoutAlign="space-around center"
            class="media-inputs-holder"
        >
            <app-media-upload-form-shared [defaultImage]="ownerImage" [squareAspect]="true" header="Company/Owner Image" (onImageUpdated)="onOwnerImageUpdate($event)" (onImageDeleted)="onOwnerImageDelete()"></app-media-upload-form-shared>
            <app-media-upload-form-shared [defaultImage]="companyLogo" header="Company logo Image" (onImageUpdated)="onLogoUpdate($event)" (onImageDeleted)="onLogoDelete()"></app-media-upload-form-shared>
        </div>
        <div fxFlex="100%" fxLayout="row wrap"  fxFlexOrder="5" fxLayoutAlign="center center">
            <button mat-flat-button [disabled]="!isImageInfoChanged" color="accent" (click)="saveMedia()">UPDATE MEDIA</button>
        </div>
    </mat-card-content>
</mat-card>