<div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="10px" >
    <mat-card>
        <app-experts-view></app-experts-view>
    </mat-card>

    <mat-card>
        <app-service-view></app-service-view>
    </mat-card>

    <mat-card>
        <app-date-view></app-date-view>
    </mat-card>

    <mat-card>
        <app-time-view></app-time-view>
    </mat-card>

    <mat-card>
        <app-client-form></app-client-form>
    </mat-card>

    <mat-card>
        <app-payment-view></app-payment-view>
    </mat-card>

    <mat-card>
        <app-result-view></app-result-view>
    </mat-card>
</div>