<mat-list>
    <mat-list-item> 
        <span style="position: absolute; left: 0; font-size: 25px;">&#60;</span>
        <p matLine>SELECT PAYMENT</p> 
        <span style="opacity: 0.6;" matLine>Online booking</span> 
          
        <mat-divider></mat-divider>
    </mat-list-item>
</mat-list>
<div 
    fxLayout="column"
    fxLayoutGap="20"
    style="min-height: 360px;"
>
    <h4 style="margin-top: 30px;">SELECT PAYMENT METHOD</h4>
    <button style="margin-right: 10px; margin-bottom: 5px;" mat-stroked-button color="primary">CASH</button>
</div>